body {
  font-family: 'Ultra', serif;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#left-pane {
  padding: 10px;
  height: 100%;
  width: 25vw;
  box-shadow: 0px 4px 52px rgba(0, 0, 0, 0.13);
}

#form {
  margin-top: 200px;
}

#heading-text {
  color: black;
  font-size: 32px;
  margin-bottom: 300px;
}

input[type=text], input[type=password] {
  width: 100%;
  margin: 12px 0;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid tan;
  box-sizing: border-box;
}

#submit {
  background-color: tan;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  font-size: 1.25em;
  margin-top: 5px;
}

#right-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: dimgrey;
  align-items: center;
  justify-content: center;
}

#illustration-container {
  display: flex;
  border-radius: 2000px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 800px;
  height: 800px;
  align-items: center;
  justify-content: center;
}

#left-top-logo {
  display: flex;
}

#dumbbell-container {
  margin-top: 200px;
}



#image-container {
  margin-top: -30px;
}

#bottom-text {
  font-size: 30px;
  color: tan;
  margin-bottom: 30px;
}
